# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Backend
BACKEND_HOST=
BACKEND_PORT=
GTFS_DATA_PATH=
DATA_BASE_PATH=
GEOROUTE_FOOT_URL=http://georoute-foot:8090
GEOROUTE_CAR_URL=http://georoute-car:8090
GEOROUTE_TIMEOUT_SECONDS=60

# Frontend
STREAMLIT_SERVER_PORT=
STREAMLIT_SERVER_ADDRESS=
API_URL=
